In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
print('Modules are imported.')

Modules are imported.

In [3]:
nan = np.nan
df = DataFrame ({ 'Category': (["Electronics", "Men's clothing", "Women's clothing"]),
                'Sales - in units' : np.array([nan, 3, 5]),
                'Date': pd.Timestamp('20161106'),
                '# of customers': np.array([nan, nan, nan])})

In [4]:
df

           Category  Sales - in units       Date  # of customers
0       Electronics               NaN 2016-11-06             NaN
1    Men's clothing               3.0 2016-11-06             NaN
2  Women's clothing               5.0 2016-11-06             NaN