In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
print('Modules are imported.')

Modules are imported.

In [2]:
df = DataFrame ({ 'Category': (["Electronics", "Men's clothing", "Women's clothing"]),
                'Sales - in dollars $' : np.array([7, 12, 25])})

In [3]:
df

           Category  Sales - in dollars $
0       Electronics                     7
1    Men's clothing                    12
2  Women's clothing                    25

In [7]:
mapa = {"Electronics": "3", "Men's clothing": "4", "Women's clothing": "6"}

In [8]:
mapa

{'Electronics': '3', "Men's clothing": '4', "Women's clothing": '6'}