In [1]:
import numpy as np 
import pandas as pd
%matplotlib inline

print('numpy, pandas have been imported.')

numpy, pandas have been imported.

In [2]:
import matplotlib
matplotlib.style.use('ggplot')
print('ggplot')

ggplot

In [4]:
df = pd.DataFrame(np.random.randint(55, high = 175, size = (6, 3)), columns = ['x', 'y', 'z'])

In [5]:
df

     x    y    z
0  132   78   78
1  111  161  144
2  145   90  173
3   91   75   72
4   64  101   58
5  113   91  149