In [1]:
import numpy as np 
import pandas as pd
%matplotlib inline

print('numpy, pandas have been imported.')

numpy, pandas have been imported.

In [2]:
import matplotlib
matplotlib.style.use('ggplot')
print('ggplot')

ggplot

In [8]:
df = pd.DataFrame({'% No of sales': np.array([50, 75, 100,125,150]), 
                'Average percentage price': np.array([25, 35, 50, 65, 75])})

In [9]:
df

   % No of sales  Average percentage price
0             50                        25
1             75                        35
2            100                        50
3            125                        65
4            150                        75