In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
print('Modules are imported.')

Modules are imported.

In [5]:
nan = np.nan
df = DataFrame ({ 'Category': pd.Categorical(["Electronics", "Men's clothing", "Women's clothing"]),
                'Sales' : np.array([1, 4, 5])})

In [6]:
df

           Category  Sales
0       Electronics      1
1    Men's clothing      4
2  Women's clothing      5