In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
 
print('Modules are imported.')

Modules are imported.

In [2]:
df = pd.read_csv('data/stocks.csv')

In [3]:
df

         Date   Open   High    Low
0  01/20/2016  26.55  26.96  26.33
1  01/21/2016  26.82  27.47  26.76
2  01/22/2016  27.38  27.73  27.29
3  01/23/2016  27.53  28.19  27.53
4  01/24/2016  28.05  28.10  27.72