In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
 
print('Modules are imported.')

Modules are imported.

In [11]:
df = pd.read_csv('data/stocks.csv', parse_dates = ['Date'], index_col = 'Date')

In [12]:
df

             Open   High    Low
Date
2016-01-20  26.55  26.96  26.33
2016-01-21  26.82  27.47  26.76
2016-01-22  27.38  27.73  27.29
2016-01-23  27.53  28.19  27.53
2016-01-24  28.05  28.10  27.72

In [13]:
df.index

DatetimeIndex(['2016-01-20', '2016-01-21', '2016-01-22', '2016-01-23',
               '2016-01-24'],
              dtype='datetime64[ns]', name='Date', freq=None)