In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
 
print('Modules are imported.')

Modules are imported.

In [2]:
xls = pd.ExcelFile('data/sample.xlsx')
df1= xls.parse('Sheet1')

In [3]:
df1

   sample1  sample2  sample3
0        5        4       33
1        8        5       66
2        9        9       77

In [4]:
df1.columns

Index(['sample1', 'sample2', 'sample3'], dtype='object')

In [7]:
DataFrame(df1, columns=['sample1', 'sample2'])

   sample1  sample2
0        5        4
1        8        5
2        9        9

In [9]:
df1.head()

   sample1  sample2  sample3
0        5        4       33
1        8        5       66
2        9        9       77

In [10]:
df1.tail(2)

   sample1  sample2  sample3
1        8        5       66
2        9        9       77