In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
 
print('Modules are imported.')

Modules are imported.

In [6]:
df = pd.read_csv('data/bank.csv', sep = ';')

In [7]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [8]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [9]:
df['duration'].mean()

263.96129174961294

In [10]:
go = df.groupby('duration')

In [14]:
go.describe()

           age                                                       balance  \
         count       mean        std   min    25%   50%    75%   max   count
duration
4          1.0  28.000000        NaN  28.0  28.00  28.0  28.00  28.0     1.0
5          9.0  39.444444   9.553940  28.0  35.00  38.0  45.00  58.0     9.0
6          2.0  28.500000  10.606602  21.0  24.75  28.5  32.25  36.0     2.0
7          6.0  40.333333  10.171857  28.0  35.50  38.5  43.00  58.0     6.0
8          9.0  40.444444  11.226209  26.0  32.00  36.0  51.00  57.0     9.0
...        ...        ...        ...   ...    ...   ...    ...   ...     ...
2029       1.0  54.000000        NaN  54.0  54.00  54.0  54.00  54.0     1.0
2087       1.0  43.000000        NaN  43.0  43.00  43.0  43.00  43.0     1.0
2456       1.0  47.000000        NaN  47.0  47.00  47.0  47.00  47.0     1.0
2769       1.0  36.000000        NaN  36.0  36.00  36.0  36.00  36.0     1.0
3025       1.0  59.000000        NaN  59.0  59.00  59.0  59.00  59.0     1.0

                       ...  pdays        previous                            \
                 mean  ...    75%    max    count      mean        std  min
duration               ...
4          318.000000  ...   -1.0   -1.0      1.0  0.000000        NaN  0.0
5         2521.444444  ...   -1.0  808.0      9.0  2.000000   4.242641  0.0
6          510.000000  ...   -1.0   -1.0      2.0  0.000000   0.000000  0.0
7         3380.833333  ...  309.5  367.0      6.0  4.500000  10.054850  0.0
8         3317.555556  ...  267.0  687.0      9.0  1.555556   2.006932  0.0
...               ...  ...    ...    ...      ...       ...        ...  ...
2029      -315.000000  ...   -1.0   -1.0      1.0  0.000000        NaN  0.0
2087       388.000000  ...   -1.0   -1.0      1.0  0.000000        NaN  0.0
2456       126.000000  ...   -1.0   -1.0      1.0  0.000000        NaN  0.0
2769      3057.000000  ...   -1.0   -1.0      1.0  0.000000        NaN  0.0
3025         0.000000  ...   -1.0   -1.0      1.0  0.000000        NaN  0.0


          25%  50%  75%   max
duration
4         0.0  0.0  0.0   0.0
5         0.0  0.0  0.0  12.0
6         0.0  0.0  0.0   0.0
7         0.0  0.5  1.0  25.0
8         0.0  0.0  3.0   5.0
...       ...  ...  ...   ...
2029      0.0  0.0  0.0   0.0
2087      0.0  0.0  0.0   0.0
2456      0.0  0.0  0.0   0.0
2769      0.0  0.0  0.0   0.0
3025      0.0  0.0  0.0   0.0

[875 rows x 48 columns]